.zoomWindowWrapper{
    display: flex;
    flex-direction: row;
}

.solutionMapWrapper{
    background-color: whitesmoke;
    overflow: hidden;
}

.sidebar{
    background-color: lightgrey;
    padding-left: 25px;
    padding-right: 15px;
}

.toolBar{
    position: absolute;
    padding: 15px;
}

.basicCircle{
    fill: orangered;
    cursor: pointer;
}

.infoHoverPopover{
    position: absolute;
    background-color: rgba(220, 220, 220, 0.85);
    width: 300px;
    padding: 10px;
    padding-bottom: 0;
    z-index: 2;
    border-radius: 10px;
}

.zoomBox{
    z-index: 1;
}

.largeTitle{
    font-size: 30px;
    margin-bottom: 0;
}

.idText{
    margin-top: -5px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}