.centeredLayoutWrapper{
    width: 100%;
    background: white;
}

.centeredLayoutContent{
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.centeredLayoutLoading{
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}