
.ideaViewWrapper{
    width: 100%;
    background: white;
}

.ideaViewContent{
    min-height: 94vh;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.largeTitle{
    font-size: 25px;
    margin-top: 25px;
}

.ideaDescription{
    max-width: 500px;
    margin-bottom: 20px;
}

.backButton svg{
    padding-bottom: 2px;
}

.backButton{
    margin-bottom: 10px;
}

.networkPanelWrapper{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.networkSectionWrapper{
    flex-basis: 250px;
    flex-grow: 1;
    padding: 20px;
    margin-bottom: 20px;

}
.neighbourhoodPreview{
    width: 100%;
    max-width: 330px;
    height: 160px;
    background-color: dimgrey;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}
