
.researchViewWrapper{
    width: 100%;
    background: white;
}

.researchViewContent{
    min-height: 94vh;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.largeTitle{
    font-size: 30px;
    padding-left: 15px;
}